.title {
  text-align: center;
  font-size: 100px;
}

.center-ud20px{
    font-size: 20px;
    text-align: center; /* テキストを中央揃えにする */
    margin-top: 30px; /* 上側の余白 */
    margin-bottom: 20px; /* 下側の余白 */
}

.d-botaniti{
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3498db;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px;
}

